<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="https://irll.ca" title="{{ site.title }}">
			<img src="{{ "/assets/images/sponsors/irll.png" | relative_url }}" height="100" alt="The Intelligent Robot Learning Laboratory">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-content">
		  <ul class="navbar-nav ml-auto">
				{% assign site_pages = site.pages | where: "navigation", true %}
				{% for site_page in site_pages %}
					{% if site_page.navigation_name %}{% assign link_name = site_page.navigation_name %}{% else %}{% assign link_name = site_page.title %}{% endif %}
					<li class="nav-item"><a class="nav-link" href="{{ site_page.url | relative_url }}">{{ link_name }}</a></li>
				{% endfor %}
				<li class="nav-item"><a class="nav-link" href="https://irll.ca">IRL Lab</a></li>
		  </ul>
		</div>
	</div>
</nav>
